*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 100px 10px;
    align-items: center;
    background-color: gold;
}

#emailvalid{
    width: 20rem;
    height: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#demo{
    margin-top: 50px;
    font-size: 1.5rem;
}