* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  flex-wrap: wrap;
}
.line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.line1 {
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.line2{
    height: 10vh;
}
.line3{
    height: 70vh;

}
.line4{
    height: 5vh;
}
.line5{
    height: 10vh;
}

.logo {
  background-color: lightblue;
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
}

.banner {
  background-color: red;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}
.menu {
  background-color: lightskyblue;
  width: 75%;
  height: 100%;
  text-align: center;
  display: flex;
}
.bolum {
  background-color: greenyellow;
  width: 33.3%;
  height: 100%;
  text-align: center;
  display: flex;
}
.altbolum {
  background-color: lightcoral;
  width: 25%;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  display: flex;
}
.bolum5 {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
}
.footer {
  background-color: rgb(141, 61, 141);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}
