#paragraf1{
    background-color: coral;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
#paragraf4{
    background-color: beige;
}   
/* Inline burada degistirilemiyor */
