* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.header {
  width: 100%;
  height: 8%;
  position: fixed;
  top: 0;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: lightblue;
  transform: translateY(-70%);
  /* opacity: 0; */
  /* pointer-events: none; */
  transition: all 0.5s ease;
}

.header .arrowIcon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  margin-bottom: -10px;
  transition: all 0.2s ease;
}

.header__left,
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right ul li {
  display: inline-block;
}

.header__right ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.middle {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightcoral; */
  margin-top: 10rem;
}
.middle__logo {
  width: max-content;
}

#logo {
  width: 30rem;
}
.middle__searchbar {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  /* background-color: lightpink; */
}
.middle__searchbar--input {
  width: 30%;
  height: 100%;
  /* background-color: lightsalmon;
   */
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  min-width: 400px;
  padding: 2px;
}

#searchbar {
  width: 85%;
  height: 100%;
  border: none;
}

.sections {
  /* background-color: lightgreen; */
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: -30rem;
}

.sections__section {
  /* background-color: lightskyblue;
  display: flex;
  justify-content: space-around;
  width: 55rem;
  background-color: lightslategray; */
  display: grid;
  grid-template-areas: "row row row";
  gap: 0.5rem;
}

.bigbox {
  background-color: lightblue;
  /* width: 25%; */
  grid-area: "row";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}
@media screen and (max-width: 600px) {
  .sections__section {
    grid-template-areas:
      "row"
      "row"
      "row";
  }
}

.smallbox {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 4rem;
  height: 4rem;
}

.bigbox h3 {
  grid-column: span 3;
  width: 100%;
}
/* .bigbox div {
  border: 1px solid black;
  width: 100%;
  height: 4.5rem;
} */

/* @media screen and (max-width: 880px) {
  .sections__section {
    flex-direction: column;
    align-items: center;
  }
  .sections__section--1,
  .sections__section--2,
  .sections__section--3 {
    width: 30%;
  }
} */

.header:hover {
  transform: translateY(0px);
}

.header:hover .arrowIcon {
  transform: rotate(180deg);
}
