* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, black, aqua);
  height: 3rem;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  position: absolute;
  top: 20%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.img {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #fcfcfc;
  flex-grow: 1;
  height: 3.5rem;
  flex-wrap: wrap;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 5px 15px 5px;
  transition: 1s ease;
  gap: 0.5rem;
  padding: 2vw;
}
.social .aaa{
    display: flex;
    gap: 1vw;
}

@media only screen and (max-width: 500px) {
  .nav__links {
    flex-direction: column;
    height: max-content;
    width: max-content;
  }
}
@media only screen and (min-width: 1024px) {
  /* header {
    padding-left: 5rem;
    padding-right: 5rem;
  } */
  .img {
    width: 40%;
  }
  .nav__links {
    width: 20%;
    align-content: center;
  }
  .social {
    width: 40%;
  }
}
.nav__links:hover {
  transform: scale(1.03);
}

.nav__links a {
  text-decoration: none;
  /* padding: .5rem; */
  width: 30%;
  text-align: center;
}

.social {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-self: center;
}
