*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.img{
    width: 100%;
    height: 90rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.background-container-img1 {
    background-image: url(./img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading-container{
    background-color: #4D4D4D;
    padding: 2rem;
    width: max-content;
    position: relative;
    left: 35%;
    top: 40%;
    font-size: 3rem;
    letter-spacing: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    color: white;
    font-weight: 600;
    outline-offset: .5rem;
    outline: 0.4rem inset purple;
 
    
}
.heading-container__heading-logo{
    width: 40rem;
    
}

.section-light, .section-dark{
    padding: 3rem 4rem;
    height: 15rem;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    position: relative;
    top: 85%;
    background-color: white;
    color: #666666;
    letter-spacing: 2px;
}

.section-light h2, .section-dark h2{
    font-weight: 700;
}

.section-dark{
    color: #DDDDDD;
    background-color: #282E34;
}

.background-container-img2 {
    background-image: url(./img/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box2{
    position: relative;
    top: 40%;
    left: 35%;
    background-color: disabled;
    border: none;
}
.box3{
    left: 28%;
}
.box4{
    left: 36%;
}
.box5{
    left: 30%;
}
.background-container-img3 {
    background-image: url(./img/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-container-img4 {
    background-image: url(./img/bg4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-container-img5 {
    background-image: url(./img/bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
