@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 188, 188);
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    color: black;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-image: linear-gradient(to right, black, aqua);

}

.logo {
    cursor: pointer;

}

.nav__links {
    list-style: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav__links {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    position: absolute;
    transition: all 0.5s;
    box-shadow: rgb(55, 180, 218) 0px 22px 70px 4px;
}


.nav__links:hover {
    padding: 1.6rem 2.2rem;

}



.nav__links li {
    display: inline-block;
    padding-right: 10px;

}

.nav__links li a {
    text-decoration: none;
}

.nav__links li a:hover {
    color: #62d0f2;
    font-weight: 900;

}

.fa-brands {
    padding: 9px 5px;
    color: rgb(70, 69, 69);
    transition: all 0.3s ease 0s;

}

.fa-brands:hover {
    color: rgb(0, 0, 0);



}

.social {
    display: flex;

}



@media (max-width:660px) {
    .nav__links li {
        display: block;
        margin: 2px;
        padding: 10px;
    }
}


































/* .navbar {
    width: 100vw;
    height: 8vh;
    background-image: linear-gradient(to right, lightblue, aqua);

} */

/*.left_logo{
    float: left;
    height: 100%;
     display: flex;
    justify-content: start;
    align-items: center; 
}*/
/* .left_logo img{
    width: 10%;
    padding-left: 10px;  
}
.menu{
    display: flex;
    justify-content: center;

}

.right_logo{
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
    width: 14vw;
    background: red;
    
}

li i {
    height: 20px;
} */